:root {
  font-family: system-ui, "Segoe UI", sans-serif;
  color: #333;
  background-color: #fff;
}

body {
  margin: 0;
}

#root {
  width: 95%;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}